{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXXSLJBCJ8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FXXSLJBCJ8');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport-extra" content="width=device-width,initial-scale=1,min-width=375">
    {% block robots %} {% endblock %}
    {% block title %} {% endblock %}
    <meta name="format-detection" content="telephone=no">
    {% block description %} {% endblock %}
    {% block canonical %} {% endblock %}
    <meta name="thumbnail" content="{% static 'ico/apple-touch-icon.png' %}">
    <head prefix="og: https://ogp.me/ns#">
    <meta property="og:site_name" content="AlkUnelma（アルクネルマ）">
    {% block og %} {% endblock %}
    <link rel="icon" href="{% static 'ico/favicon.ico' %}?20240516" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}?20240516">
    <link rel="manifest" href="{% static 'ico/manifest.json' %}">
    <meta name="apple-mobile-web-app-title" content="AlkUnelma">
    <meta name="application-name" content="AlkUnelma">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?20240515" />
    <link  rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
    {% block json %}
    {% endblock %}
  </head>

  <body>
    {% block opening %}
    {% endblock %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md">
      <div class="nav container-fluid">
        <h1 class="nav__logo">
          <a href="{% url 'index' %}">
            <img src="{% static 'img/alkunelma_logo.svg' %}" alt="AlkUnelma（アルクネルマ）- 想いと歩く、夢のカタチ。">
          </a>
        </h1>
        <button class="nav__toggler navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="nav__item collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav__item--box navbar-nav">
            {% block nav %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
      <small>&copy; <span id="copy_year"></span> AlkUnelma</small>
    </footer>

    {% block js %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/viewport-extra@2.0.1/dist/iife/viewport-extra.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
      'use strict';

      // コピーライトの年を設定
      var currentTime = new Date();
      var year = currentTime.getFullYear()
      var copy_year = document.getElementById('copy_year');
      copy_year.innerHTML = year;
    </script>
  </body>
</html>