{% extends 'portfolio/base.html' %}
{% load static %}

{% block robots %}
<meta name="robots" content="noindex">
{% endblock %}

{% block title %}
<title>お問い合わせありがとうございます | AlkUnelma（アルクネルマ）</title>
{% endblock %}

{% block description %}
<meta name="description" content="">
{% endblock %}

{% block canonical %}
<link rel="canonical" href="https://tomizawajun.com/contact/thanks/">
{% endblock %}

{% block og %}
<meta property="og:title" content="お問い合わせありがとうございます | AlkUnelma（アルクネルマ）">
<meta property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:url" content="https://cafe-unelma.com/contact/thanks/">
<meta property="og:image" content="https://tomizawajun.com/static/img/ogp.png">
{% endblock %}


{% block nav %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'index' %}#service" class="nav__item--box--service">Service</a></li>
<li><a href="{% url 'index' %}#works" class="nav__item--box--works">Works</a></li>
<li><a href="{% url 'index' %}#skill" class="nav__item--box--skill">Skill</a></li>
<li><a href="{% url 'index' %}#profile" class="nav__item--box--profile">Profile</a></li>
<li><a href="{% url 'contact_form' %}">Contact</a></li>
{% endblock %}

{% block content %}
<main class="contact-thanks">
  <div class="contact-thanks__wrap">
    <h2>Thank you!!</h2>
    <p>お問い合わせを受け付けました。<br><br>確認のため、お客様へ受付完了メールを<br class="d-none d-sm-block">お送りしております。<br><br>後ほど改めてご連絡させていただきますので<br class="d-none d-sm-block">今しばらくお待ちくださいませ。</p>
    <div class="contact-thanks__wrap--image"></div>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/contact_form.js' %}"></script>
{% endblock %}