{% extends 'portfolio/base.html' %}

{% block nav %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'index' %}#service" class="nav__item--box--service">Service</a></li>
<li><a href="{% url 'index' %}#works" class="nav__item--box--works">Works</a></li>
<li><a href="{% url 'index' %}#skill" class="nav__item--box--skill">Skill</a></li>
<li><a href="{% url 'index' %}#profile" class="nav__item--box--profile">Profile</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>お問い合わせ</h1>
      <p>お問い合わせフォームです。</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">送信</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}