{% extends 'portfolio/base.html' %}
{% load static %}

{% block nav %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'index' %}#service" class="nav__item--box--service">Service</a></li>
<li><a href="{% url 'index' %}#works" class="nav__item--box--works">Works</a></li>
<li><a href="{% url 'index' %}#skill" class="nav__item--box--skill">Skill</a></li>
<li><a href="{% url 'index' %}#profile" class="nav__item--box--profile">Profile</a></li>
{% endblock %}

{% block content %}
<div class="contact">
  <h2>Contact me</h2>
  <hr>
  <p class="contact__message">制作のご依頼・ご相談など、どうぞお気軽にご連絡くださいませ。下記フォームにご記入をお願いします。</p>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">送信</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/contact_form.js' %}"></script>
{% endblock %}