{% extends 'portfolio/base.html' %}
{% load static %}

{% block meta %}
<title>サービスに、潤いを。 | 冨澤潤 TOMIZAWA Jun</title>
{% endblock %}

{% block opening %}
<!-- Opening Fake Shutter -->
<div class="opening">
  <p class="opening__text">Thank you for coming!</p>
</div>

<!-- Back To Top -->
<div class="back-to-top" data-toggle="tooltip" data-placement="left" title="Back to Top">
  <i class="fas fa-angle-up" aria-hidden="true"></i>
</div>
{% endblock %}

{% block nav %}
<li><a href="#service" class="nav__item--box--service">Service</a></li>
<li><a href="#works" class="nav__item--box--works">Works</a></li>
<li><a href="#skill" class="nav__item--box--skill">Skill</a></li>
<li><a href="#profile" class="nav__item--box--profile">Profile</a></li>
<li><a href="{% url 'contact_form' %}">Contact</a></li>
{% endblock %}

{% block content %}
<!-- Title Image -->
<div class="title">
  <div class="title__mask"></div>
  <div class="title__photo"></div>
  <div class="title__text">
    <h2>サービスに、潤いを。</h2>
    <h3>テクノロジーがどれだけ進化しても、<br>主役は必ず「人」のはず。<br>根底に流れるのは人の「想い」です。<br>テクノロジーで想いの幅を広げて、<br>クリエイティブで人に届ける。<br>人と人とを繋ぐ架け橋になれたなら、<br>私はこの上なく幸せです。</h3>
    <h4>2020年　冨澤 潤</h4>
  </div>
</div>

<!-- Service Section-->
<div class="service" id="service">
  <h2>Service</h2>
  <hr>
  <p class="service__message">webページのデザインから<br class="d-none d-md-block">ポスター、チラシ、パンフレット、カタログ等々のグラフィックデザインまで<br class="d-none d-md-block">お客様のお悩み事に寄り添い、解決に向けて尽力させていただきます。</p>
  <!-- Service Three Column Section -->
  <div class="service__icon">
    <div class="service__icon--wrap">
      <h3>ヒアリング</h3>
      <h4>DIRECTION</h4>
      <img src="{% static 'img/direction.svg' %}">
      <p class="service__icon--wrap--text">お客様のご要望・お悩み事をヒアリングさせていただき、効果的なプランをご提案させていただきます。</p>
    </div>
    <i class="service__icon--plus fas fa-plus" aria-hidden="true"></i>
    <div class="service__icon--wrap">
      <h3>デザイン</h3>
      <h4>DESIGN</h4>
      <img src="{% static 'img/design.svg' %}">
      <p class="service__icon--wrap--text">ヒアリングに基づきデザインを作成いたします。お客様の視点はもちろん、その先のエンドユーザーの視点にも立ってデザインを行います。</p>
    </div>
    <i class="service__icon--plus fas fa-plus" aria-hidden="true"></i>
    <div class="service__icon--wrap">
      <h3>プロダクション</h3>
      <h4>WEB & GRAPHIC</h4>
      <img src="{% static 'img/image.svg' %}">
      <p class="service__icon--wrap--text">webページ制作からポスター、チラシ、パンフレット、カタログ等々のグラフィック制作まで、お客様のご要望に応じてデザインを形にします。</p>
    </div>
  </div>
</div>

<!-- Works Section-->
<div class="works" id="works">
  <h2>Works</h2>
  <hr>
  <p class="works__message">過去制作実績の一部です。<br class="d-none d-md-block">お力となれますよう最大限尽力させていただきます。</p>
  <!-- Works Column Section -->
  <div class="works__item">
    <div class="works__item--card card rounded-0">
      <button class="works__item--card--open">
        <div class="works__item--card--open--box">
          <img src="{% static 'img/spoon.png' %}">
          <div class="works__item--card--open--box--mask">
            <p>Web</p>
            <span></span>
            <h3>会員制予約注文付Webサイト</h3>
          </div>
        </div>
      </button>
    </div>
    <div class="works__item--card card rounded-0">
      <button class="works__item--card--open">
        <div class="works__item--card--open--box">
          <img src="{% static 'img/Blog.png' %}">
          <div class="works__item--card--open--box--mask">
            <p>Web</p>
            <span></span>
            <h3>会員制ブログ投稿サイト</h3>
          </div>
        </div>
      </button>
    </div>
    <div class="works__item--card card rounded-0">
      <button class="works__item--card--open">
        <div class="works__item--card--open--box">
          <img src="{% static 'img/Bootstrap4.png' %}">
          <div class="works__item--card--open--box--mask">
            <p>Web</p>
            <span></span>
            <h3>Bootstrap4 模写</h3>
          </div>
        </div>
      </button>
    </div>
    <div class="works__item--card card rounded-0">
      <button class="works__item--card--open">
        <div class="works__item--card--open--box">
          <img src="{% static 'img/TatkeOutMenu.png' %}">
          <div class="works__item--card--open--box--mask">
            <p>Graphic</p>
            <span></span>
            <h3>カフェメニューのビラ</h3>
          </div>
        </div>
      </button>
    </div>
    <div class="works__item--card card rounded-0">
      <button class="works__item--card--open">
        <div class="works__item--card--open--box">
          <img src="{% static 'img/wedding.png' %}">
          <div class="works__item--card--open--box--mask">
            <p>Graphic</p>
            <span></span>
            <h3>結婚式招待状・席次表</h3>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<!-- Works Modal -->
<section class="modal-area">
  <div class="modal-area__bg"></div>
  <div class="modal-area__wrap">
    <div class="modal-area__wrap--contents">
      <a href="https://spoon-gelato.jp" target="_blank">
        <div class="modal-area__wrap--contents-image5--sp d-md-none"></div>
        <div class="modal-area__wrap--contents-image5--pc d-none d-md-block"></div>
      </a>
      <hr>
      <div class="modal-area__wrap--contents-container">
        <p>群馬県で人気の手づくりジェラート屋さん「spoon」様の会員制予約注文付Webサイトを制作させていただきました。プランニングからデザイン、コーディングまで一貫して担当させていただいております。</p>
        <p>Plannning / Design / HTML / CSS・Bootstrap4 / JavaScript / Python・Django</p>
        <p>2020.9</p>
      </div>
    </div>
    <div class="modal-area__wrap--close">×</div>
  </div>
</section>
<section class="modal-area">
  <div class="modal-area__bg"></div>
  <div class="modal-area__wrap">
    <div class="modal-area__wrap--contents">
      <a href="https://django-blog0428.herokuapp.com" target="_blank">
        <div class="modal-area__wrap--contents-image1--sp d-md-none"></div>
        <div class="modal-area__wrap--contents-image1--pc d-none d-md-block"></div>
      </a>
      <hr>
      <div class="modal-area__wrap--contents-container">
        <p>HTML / CSS・Bootstrap4 / JavaScript / Python・Django</p>
        <p>2020.4</p>
      </div>
    </div>
    <div class="modal-area__wrap--close">×</div>
  </div>
</section>
<section class="modal-area">
  <div class="modal-area__bg"></div>
  <div class="modal-area__wrap">
    <div class="modal-area__wrap--contents">
      <a href="https://tomizawa0214.github.io/test" target="_blank">
        <div class="modal-area__wrap--contents-image2--sp d-md-none"></div>
        <div class="modal-area__wrap--contents-image2--pc d-none d-md-block"></div>
      </a>
      <hr>
      <div class="modal-area__wrap--contents-container">
        <p>HTML / CSS / Bootstrap4</p>
        <p>2020.3</p>
      </div>
    </div>
    <div class="modal-area__wrap--close">×</div>
  </div>
</section>
<section class="modal-area">
  <div class="modal-area__bg"></div>
  <div class="modal-area__wrap">
    <div class="modal-area__wrap--contents">
      <div class="modal-area__wrap--contents-image3"></div>
      <hr>
      <div class="modal-area__wrap--contents-container">
        <p>群馬県にお店を構える和cafe麦様のテイクアウトメニューをデザインから制作させていただきました。<br><span>※内容・価格は2020年3月現在</span></p>
        <p>インクジェット紙 / A5(148 × 210mm) / Adobe Illustrator</p>
        <p>2020.3</p>
      </div>
    </div>
    <div class="modal-area__wrap--close">×</div>
  </div>
</section>
<section class="modal-area">
  <div class="modal-area__bg"></div>
  <div class="modal-area__wrap">
    <div class="modal-area__wrap--contents">
        <div class="modal-area__wrap--contents-image4"></div>
      <div class="modal-area__wrap--contents-container">
        <hr>
        <p>招待状から席次表、封筒、席札等、一式すべて制作しました。</p>
        <p>結婚式招待状 / 特殊紙 / A5ワイド二つ折り(216 × 155mm) / Adobe Illustrator</p>
        <p>結婚式席次表 / 特殊紙 / A4三つ折り(210 × 297mm) / Adobe Illustrator</p>
        <p>2019.1</p>
      </div>
    </div>
    <div class="modal-area__wrap--close">×</div>
  </div>
</section>

<!-- Skill -->
<div class="skill" id="skill">
  <h2>Skill</h2>
  <hr>
  <div class="skill__box">
    <div class="skill__box--circle skill__box--html">
      <div class="skill__box--circle--inner">
        <img src="{% static 'img/html-5.svg' %}" alt="HTML">
        <span>HTML</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--css">
      <div class="skill__box--circle--inner">
        <img src="{% static 'img/css-3.svg' %}" alt="CSS">
        <span>CSS・SASS</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--js">
      <div class="skill__box--circle--inner">
        <img src="{% static 'img/javascript.svg' %}" alt="JavaScript">
        <span>JavaScript</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--python">
      <div class="skill__box--circle--inner">
        <img src="{% static 'img/python.svg' %}" alt="Python">
        <span>Python・Django</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--xd">
      <div class="skill__box--circle--inner">
        <span>Adobe XD</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--illustrator">
      <div class="skill__box--circle--inner">
        <span>Adobe<br>Illustrator</span>
      </div>
    </div>
    <div class="skill__box--circle skill__box--photoshop">
      <div class="skill__box--circle--inner">
        <span>Adobe<br>Photoshop</span>
      </div>
    </div>
  </div>
</div>


<!-- Profile -->
<div class="profile" id="profile">
  <div class="profile__container">
    <img src="{% static 'img/tomizawa.png' %}" alt="冨澤潤 TOMIZAWA Jun">
    <p class="profile__container--name">冨澤 潤<span>TOMIZAWA Jun</span></p>
    <hr class="d-block d-sm-none">
    <div class="profile__container--contact">
      <p>都内の美術学校を卒業後、地元企業にて広告制作に携わる。その企業での経験を機にプログラミングに興味を持ち、休日を利用して都内のプログラミングスクールへ通う。30歳の節目にフリーランスとしての独立を決意。現在侍エンジニア塾でプログラミングを学習中。どうぞお気軽にご連絡くださいませ。</p>
      <div class="profile__container--contact--info">
        <div class="profile__container--contact--info--box">
          <div class="profile__container--contact--info--box--arrow"></div>
          <div class="profile__container--contact--info--box--arrow"></div>
          <a href="{% url 'contact_form' %}">
            <button class="profile__container--contact--info--box--button">
              <span class="profile__container--contact--info--box--button--text">CONTACT ME</span>
              <div class="profile__container--contact--info--box--button--effect"></div>
            </button>
          </a>
        </div>
        <ul class="profile__container--contact--info--social">
          <li><a href="https://twitter.com/tomizawa0214" data-toggle="tooltip" data-placement="bottom" title="Twitter" target="_blank"><i class="fab fa-twitter fa-fw" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/tomizawa0214" data-toggle="tooltip" data-placement="bottom" title="Facebook" target="_blank"><i class="fab fa-facebook-f fa-fw" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/tomizawa0214" data-toggle="tooltip" data-placement="bottom" title="GitHub" target="_blank"><i class="fab fa-github fa-fw" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}