@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #efefef;
}

header {
  padding: 0 30px 0;
  width: 100vw;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header #container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container h1 {
  display: inline-block;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5px;
}

header #container #navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 559px) {
  header #container #navlist {
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  header #container #navlist.open {
    height: 283.35px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
}

header #container #navlist .menulist {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
}

header #container #navlist a {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 560px) {
  header #container #navlist a:hover {
    color: #e8676b;
  }
  header #container #navlist a::after {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e8676b;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header #container #navlist a:hover::after {
    bottom: -5px;
    opacity: 1;
  }
}

main {
  display: inline-block;
  width: 100%;
}

main #aboutme {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "inner1 inner1" "profile-image introduction";
  gap: 10vmin;
  margin-top: 12vmin;
  margin-right: 8%;
  margin-left: 8%;
  padding: 10vmin;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

main #aboutme .inner1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: inner1;
  font-size: 4.6rem;
  margin: 0;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #3D4451;
  letter-spacing: 0.05em;
  -webkit-animation: fade-in1 1s ease-out;
          animation: fade-in1 1s ease-out;
}

@-webkit-keyframes fade-in1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

main #aboutme .profile-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: profile-image;
}

main #aboutme .profile-image .icon {
  width: 200px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #aboutme .profile-image .icon a {
  position: relative;
  display: inline-block;
  color: #3D4451;
}

@media screen and (min-width: 560px) {
  main #aboutme .profile-image .icon a::before {
    position: absolute;
    bottom: -5px;
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    left: 50%;
    background-color: #e8676b;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  main #aboutme .profile-image .icon a::after {
    right: 50%;
  }
  main #aboutme .profile-image .icon a:hover::before, main #aboutme .profile-image .icon a:hover::after {
    left: 0;
    width: 100%;
  }
}

main #aboutme .introduction {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: introduction;
}

main #aboutme .introduction .name,
main #aboutme .introduction .history1,
main #aboutme .introduction .history2,
main #aboutme .introduction .appeal {
  margin: 0;
  text-align: left;
  line-height: 1.9;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  color: #3D4451;
  letter-spacing: 0.03em;
}

main #aboutme .introduction .history1-sp {
  display: none;
}

main #aboutme .introduction .name {
  margin-top: -10px;
  font-weight: 550;
}

main #aboutme .introduction .history2 {
  border-bottom: solid 1px #3D4451;
  padding-bottom: 10px;
}

main #aboutme .introduction .appeal {
  padding-top: 10px;
}

main #skill {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "inner2" "ul";
  gap: 10vmin;
  margin-top: 12vmin;
  margin-right: 8%;
  margin-bottom: 12vmin;
  margin-left: 8%;
  padding: 10vmin;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

main #skill .inner2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: inner2;
  font-size: 4.6rem;
  margin: 0;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #3D4451;
  letter-spacing: 0.05em;
  opacity: 0;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
}

main #skill ul {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ul;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a b c" "d e f" "g g g" "h i j";
  gap: 2vw;
  margin: 0;
  padding: 0;
}

main #skill ul li {
  margin: 0;
  padding-left: 1vw;
  text-align: left;
  line-height: 3em;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  letter-spacing: 0.05em;
  border-left: solid 6px #101536;
  background: #C5CAE9;
  list-style: none;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

main #skill ul li:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

main #skill ul .a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

main #skill ul .b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

main #skill ul .c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

main #skill ul .d {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

main #skill ul .e {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

main #skill ul .f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

main #skill ul .g {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: g;
}

main #skill ul .h {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: h;
}

main #skill ul .i {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: i;
}

main #skill ul .j {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: j;
}

footer {
  position: relative;
  width: 100%;
  height: 40px;
  bottom: 0;
  background: #E0E0E0;
}

footer p {
  position: absolute;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  line-height: 100%;
  color: #3D4451;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 559px) {
  html {
    font-size: 50%;
  }
  header {
    height: 62px;
    vertical-align: top;
    padding-top: 30px;
  }
  header #accordion_menu {
    text-align: right;
  }
  header #accordion_menu i {
    color: #3D4451;
  }
  header #navlist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  header #navlist .menulist {
    padding: 0;
    line-height: 4em;
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  header {
    height: 150px;
  }
  header h1 {
    height: 70px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    text-align: center;
  }
  header #accordion_menu {
    display: none;
  }
  header #navlist {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 959px) {
  main #aboutme {
        grid-template-areas: "inner1" "profile-image" "introduction";
  }
  main #aboutme .inner1 {
    text-align: center;
  }
  main #aboutme .icon {
    margin: 0 auto;
  }
  main #aboutme .introduction .name {
    text-align: center;
  }
  main #aboutme .introduction .history1 {
    display: none;
  }
  main #aboutme .introduction .history1-sp {
    display: inline-block;
    margin: 0;
    text-align: left;
    line-height: 1.9;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    color: #3D4451;
    letter-spacing: 0.03em;
  }
  main #skill .inner2 {
    text-align: center;
  }
  main #skill ul {
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j";
    gap: 4vw;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    text-align: left;
  }
  #accordion_menu {
    display: none;
  }
  #navlist {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #navlist .menulist {
    padding-right: 5vw;
  }
}

@media screen and (max-width: 1169px) {
  .br-pc {
    display: none;
  }
}
