@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese');

html, body {
  margin: 0;
  padding: 0;
}

.bluefilter-base {
  position: relative;
  background-color: rgba(16, 21, 54, 1);
}

.bluefilter-base p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: normal;
  font-family: "Noto Serif JP" , sans-serif;
}

.bluefilter-img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  display: block;
}

.service {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
}

.works {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
}

footer {
  width: 100%;
  height: 250px;
  bottom: 0;
  background-color: rgb(16, 21, 54);
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 220px;
}

.icon {
  position: relative;
  width: 15%;
  height: 220px;
}

.icon img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.info {
 margin-top: 15px;
 text-align: center;
 width: 30%;
}

.info p {
  margin: 0;
  vertical-align: bottom;
  color: white;
  font-family: "Noto Serif JP" , sans-serif;
  font-size: 20px;
  display: inline-block;
}

form {
  width: 55%;
}

/* form:hover .contact {
  transform: rotateX(-180deg);
} */

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-duration: .4s;
}

.contact-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 80%;
  text-align: center;
  background: rgb(168, 173, 204);
  border-left: double 7px #7FFFD4;
  border-right: double 7px #7FFFD4;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.contact-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 8px 50px 10px;
  border: solid 1px;
  font-size: 30px;
  color:  rgb(16, 21, 54);
  font-family: "Noto Serif JP" , sans-serif;
}

.contact-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* rotateX(180deg); */
  width: 92%;
  height: 80%;
  background:rgb(16, 21, 54);
  border-left: double 7px #7FFFD4;
  border-right: double 7px #7FFFD4;
  box-sizing: border-box;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  vertical-align: top;
}

.namemail {
  display: flex;
  justify-content: space-between;
}

.name {
  color: white;
  font-family: "Noto Serif JP" , sans-serif;
}

.mail {
  color: white;
  font-family: "Noto Serif JP" , sans-serif;
}

.message {
  color: white;
  font-family: "Noto Serif JP" , sans-serif;
}

.i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}

.name, .mail, .message::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: '';
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #da3c41;
}

.submit {
  margin: 0 auto;
  color: white;
  font-family: "Noto Serif JP" , sans-serif;
  cursor: pointer;
}

.copylight {
  border-top: solid 1.5px  white;
  margin: 0;
  margin: 0 auto;
  width: 98%;
  height: 30px;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  font-family:  Georgia,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;
}
