@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese');

html, body {
  margin: 0;
  padding: 0;
}

.bluefilter-base {
  position: relative;
  background-color: rgba(16, 21, 54, 1);
}

.bluefilter-base p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: normal;
  font-family: "Noto Serif JP" , sans-serif;
}

.bluefilter-img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  display: block;
}

.service {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
}

.works {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
}

.profile-back {
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: rgba(16, 21, 54);
}

.icon img {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.profile-back p {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  padding: 0;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  font-family:  Georgia,"Georgia","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;
}
