@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  width: 100vw;
  height: 18vh;
  display: table-cell;
  vertical-align: middle;
}

header ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  padding-right: 6.25vw;
  text-align: center;
  color: #333;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

header a {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

header a:hover {
  color: #EE6c4d;
}

header a::after {
  position: absolute;
  bottom: -5vh;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #EE6C4D;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

header a:hover::after {
  bottom: -0.8vh;
  opacity: 1;
}

main {
  display: inline-block;
  margin-top: 13.8vh;
  margin-bottom: 8.65vh;
}

main .inner1 {
  font-size: 4.6rem;
  margin: 0;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #333;
  letter-spacing: 0.05em;
  margin-bottom: 11.24vh;
  animation: fade-in1 1s ease-out;
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
    transform: translate3d(0, -5vh, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

main #profile {
  display: flex;
  margin-bottom: 11.24vh;
}

main #profile .icon {
  margin-top: 3.5vh;
  display: flex;
  justify-content: space-between;
}

main #profile .icon a {
  position: relative;
  display: inline-block;
  color: #333;
}

main #profile .icon a::before {
  position: absolute;
  bottom: -0.8vh;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  left: 50%;
  background-color: #ED6D4C;
  transition: 0.3s ease-in-out;
}

main #profile .icon a::after {
  right: 50%;
}

main #profile .icon a:hover::before, main #profile .icon a:hover::after {
  left: 0;
  width: 100%;
}

main #profile .introduction {
  margin-left: 6.25vw;
}

main #profile .introduction .name,
main #profile .introduction .history,
main #profile .introduction .appeal {
  margin: 0;
  text-align: left;
  line-height: 1.9;
  font-size: 1.4rem;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  color: #333;
}

main #profile .introduction .history {
  border-bottom: solid 1px #333;
  padding-bottom: 1.7vh;
}

main #profile .introduction .appeal {
  padding-top: 1.7vh;
}

main #skill {
  margin-bottom: 8.65vh;
}

main #skill .inner2 {
  font-size: 4.6rem;
  margin: 0;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #333;
  letter-spacing: 0.05em;
  margin-bottom: 7vh;
}

main #skill .web,
main #skill .graphic,
main #skill .license,
main #skill .spirit {
  display: flex;
  margin: 0;
  margin-top: 3.5vh;
  padding: 0;
}

main #skill .web li,
main #skill .graphic li,
main #skill .license li,
main #skill .spirit li {
  width: 100%;
  margin: 0;
  margin-right: 2vw;
  padding-left: 1vw;
  text-align: left;
  line-height: 3em;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  border-left: solid 6px #101536;
  background: #d9deff;
  list-style: none;
  transition: transform 0.6s;
}

main #skill .web li:hover,
main #skill .graphic li:hover,
main #skill .license li:hover,
main #skill .spirit li:hover {
  transform: rotateX(360deg);
}

footer {
  position: relative;
  width: 100%;
  height: 7vh;
  bottom: 0;
  background: #101536;
}

footer p {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  line-height: 100%;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-family: Georgia,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;
}
