.news {
    @include section;
    margin-top: 80px;
    @include slide--from-bottom;
    h2 {
        @include section__title;
    }
    hr {
        @include section__border;
        margin-bottom: 40px;
    }
    &__wrap {
        &--topic {
            &--date {
                color: #a5a5a5;
                letter-spacing: 1.2px;
            }
            &--content {
                position: relative;
                display: inline-block;
                padding-bottom: 4px;
                color: #304ffe;
                @include Japanese-font;
                &:hover {
                    color: #e8676b;
                    text-decoration: none;
                }
                &:after {
                    background-color: #e8676b;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    transition: .5s;
                    width: 0;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}