.skill {
  @include section;
  @include slide--from-bottom;
  h2 {
    @include section__title;
  }
  hr {
    @include section__border;
    margin-bottom: 40px;
  }
  &__box {
    display: grid;
    justify-content: center;
    gap: 50px;
    &--circle {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      z-index: 1;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -75px;
        width: 150px;
        height: 150px;
        transform-origin: right 75px;
        z-index: 2;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 75px;
        width: 150px;
        height: 150px;
        transform-origin: left 75px;
        z-index: 3;
      }
      &--inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: 10px;
        width: 130px;
        height: 130px;
        background: #fff;
        border-radius: 50%;
        z-index: 4;
        span {
          margin-top: 5px;
          line-height: 1;
          letter-spacing: 1.5px;
          font-size: 12px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #a5a5a5;
        }
      }
    }
    &--html {
      img {
        width: 50px;
        height: auto;
      }
      background: #f16529;
      &::before {
        background: #fdede7;
        animation: rotate-circle-left-html 5s linear infinite;
        @keyframes rotate-circle-left-html {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #fdede7;
        animation: rotate-circle-right-html 5s linear infinite;
        @keyframes rotate-circle-right-html {
          0% {
            transform: rotate(0deg);
            background: #fdede7;
          }
          15% {
            transform: rotate(180deg);
            background: #fdede7;
          }
          15.01% {
            transform: rotate(360deg);
            background: #f16529;
          }
          100% {
            transform: rotate(360deg);
            background: #f16529;
          }
        }
      }
    }
    &--css {
      img {
        width: 50px;
        height: auto;
      }
      background: #2965f1;
      &::before {
        background: #e7edfd;
        animation: rotate-circle-left-css 5s linear infinite;
        @keyframes rotate-circle-left-css {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #e7edfd;
        animation: rotate-circle-right-css 5s linear infinite;
        @keyframes rotate-circle-right-css {
          0% {
            transform: rotate(0deg);
            background: #e7edfd;
          }
          15% {
            transform: rotate(180deg);
            background: #e7edfd;
          }
          15.01% {
            transform: rotate(360deg);
            background: #2965f1;
          }
          100% {
            transform: rotate(360deg);
            background: #2965f1;
          }
        }
      }
    }
    &--js {
      img {
        width: 50px;
        height: auto;
      }
      background: #f7de1e;
      &::before {
        background: #fefbe6;
        animation: rotate-circle-left-js 5s linear infinite;
        @keyframes rotate-circle-left-js {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(130deg);
          }
          100% {
            transform: rotate(130deg);
          }
        }
      }
      &::after {
        background: #fefbe6;
        animation: rotate-circle-right-js 5s linear infinite;
        @keyframes rotate-circle-right-js {
          0% {
            transform: rotate(0deg);
            background: #fefbe6;
          }
          15% {
            transform: rotate(180deg);
            background: #fefbe6;
          }
          15.01% {
            transform: rotate(360deg);
            background: #f7de1e;
          }
          100% {
            transform: rotate(360deg);
            background: #f7de1e;
          }
        }
      }
    }
    &--python {
      img {
        width: 50px;
        height: auto;
      }
      background: #366a94;
      &::before {
        background: #ecf3f8;
        animation: rotate-circle-left-python 5s linear infinite;
        @keyframes rotate-circle-left-python {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(120deg);
          }
          100% {
            transform: rotate(120deg);
          }
        }
      }
      &::after {
        background: #ecf3f8;
        animation: rotate-circle-right-python 5s linear infinite;
        @keyframes rotate-circle-right-python {
          0% {
            transform: rotate(0deg);
            background: #ecf3f8;
          }
          15% {
            transform: rotate(180deg);
            background: #ecf3f8;
          }
          15.01% {
            transform: rotate(360deg);
            background: #366a94;
          }
          100% {
            transform: rotate(360deg);
            background: #366a94;
          }
        }
      }
    }
    &--wp {
      img {
        width: 50px;
        height: auto;
      }
      background: #32373c;
      &::before {
        background: #eee;
        animation: rotate-circle-left-wp 5s linear infinite;
        @keyframes rotate-circle-left-wp {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(140deg);
          }
          100% {
            transform: rotate(140deg);
          }
        }
      }
      &::after {
        background: #eee;
        animation: rotate-circle-right-wp 5s linear infinite;
        @keyframes rotate-circle-right-wp {
          0% {
            transform: rotate(0deg);
            background: #eee;
          }
          15% {
            transform: rotate(180deg);
            background: #eee;
          }
          15.01% {
            transform: rotate(360deg);
            background: #32373c;
          }
          100% {
            transform: rotate(360deg);
            background: #32373c;
          }
        }
      }
    }
    &--jimdo {
      img {
        width: 80px;
        height: auto;
      }
      background: #006678;
      &::before {
        background: #E5FBFF;
        animation: rotate-circle-left-jimdo 5s linear infinite;
        @keyframes rotate-circle-left-jimdo {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #E5FBFF;
        animation: rotate-circle-right-jimdo 5s linear infinite;
        @keyframes rotate-circle-right-jimdo {
          0% {
            transform: rotate(0deg);
            background: #E5FBFF;
          }
          15% {
            transform: rotate(180deg);
            background: #E5FBFF;
          }
          15.01% {
            transform: rotate(360deg);
            background: #006678;
          }
          100% {
            transform: rotate(360deg);
            background: #006678;
          }
        }
      }
    }
    &--xd {
      background: #ff26be;
      &::before {
        background: #ffe5f7;
        animation: rotate-circle-left-xd 5s linear infinite;
        @keyframes rotate-circle-left-xd {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #ffe5f7;
        animation: rotate-circle-right-xd 5s linear infinite;
        @keyframes rotate-circle-right-xd {
          0% {
            transform: rotate(0deg);
            background: #ffe5f7;
          }
          15% {
            transform: rotate(180deg);
            background: #ffe5f7;
          }
          15.01% {
            transform: rotate(360deg);
            background: #ff26be;
          }
          100% {
            transform: rotate(360deg);
            background: #ff26be;
          }
        }
      }
    }
    &--illustrator {
      background: #ff8018;
      &::before {
        background: #fff0e5;
        animation: rotate-circle-left-illustrator 5s linear infinite;
        @keyframes rotate-circle-left-illustrator {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #fff0e5;
        animation: rotate-circle-right-illustrator 5s linear infinite;
        @keyframes rotate-circle-right-illustrator {
          0% {
            transform: rotate(0deg);
            background: #fff0e5;
          }
          15% {
            transform: rotate(180deg);
            background: #fff0e5;
          }
          15.01% {
            transform: rotate(360deg);
            background: #ff8018;
          }
          100% {
            transform: rotate(360deg);
            background: #ff8018;
          }
        }
      }
    }
    &--photoshop {
      background: #31c3f0;
      &::before {
        background: #e7f8fd;
        animation: rotate-circle-left-photoshop 5s linear infinite;
        @keyframes rotate-circle-left-photoshop {
          0% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          18% {
            transform: rotate(160deg);
          }
          100% {
            transform: rotate(160deg);
          }
        }
      }
      &::after {
        background: #e7f8fd;
        animation: rotate-circle-right-photoshop 5s linear infinite;
        @keyframes rotate-circle-right-photoshop {
          0% {
            transform: rotate(0deg);
            background: #e7f8fd;
          }
          15% {
            transform: rotate(180deg);
            background: #e7f8fd;
          }
          15.01% {
            transform: rotate(360deg);
            background: #31c3f0;
          }
          100% {
            transform: rotate(360deg);
            background: #31c3f0;
          }
        }
      }
    }
  }
}