.works {
  @include section;
  @include slide--from-bottom;
  h2 {
    @include section__title;
  }
  hr {
    @include section__border;
  }
  &__message {
    @include section__message;
  }
  &__item {
    display: grid;
    gap: 30px;
    iframe {
      margin: 0 !important;
      width: 100% !important;
      min-width: auto !important;
    }
  }
}