.profile {
  padding: 50px;
  background: #e8eaf6;
  @include slide--from-bottom;
  &__introduction {
    display: grid;
    margin-bottom: 30px;
    img {
      margin: 0 auto 15px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    h1 {
      margin: 0;
      text-align: center;
      color: $textColor;
      font-size: 25px;
      letter-spacing: 1px;
      span {
        padding-left: 10px;
        color: #a5a5a5;
        font-size: 12px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
      }
    }
    hr {
      border-top: 1px solid #b4b4b4;
      width: 100%;
    }
    p {
      margin: 0;
      line-height: 1.9;
      font-size: 14px;
      font-weight: 500;
      color: $textColor;
      @include Japanese-font;
      letter-spacing: .5px;
    }
    &--contact-box {
      padding: 10px 0 0;
      &-arrow {
        display: inline-block;
        margin-right: -5px;
        width: 20px;
        height: 20px;
        border-top: solid 5px #e8676b;
        border-right: solid 5px #e8676b;
        transform: rotate(45deg);
        animation: slide 1s linear infinite;
        @keyframes slide {
          0% {
            transform: rotate(45deg) translate(0, 0);
          }
          20% {
            transform: rotate(45deg) translate(-10px, 10px);
          }
          40% {
            transform: rotate(45deg) translate(0, 0);
          }
        }
      }
      &-button {
        margin-left: 15px;
        width: 150px;
        height: 50px;
        padding: 0;
        border: none;
        background: #e8676b;
        border-radius: 3%;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        &:hover {
          .profile__introduction--contact-box-button--effect {
            margin-left: 300px;
          }
        }
        span {
          display: inline;
          margin: 0;
          color: #fff;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: 1px;
        }
        &--effect {
          margin: 0;
          background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
          width: 150px;
          height: 50px;
          margin-top: -50px;
          transform: rotate(400deg);
          margin-left: -300px;
          opacity: 0.3;
          transition: 1s;
        }
      }
    }
  }
  &__card {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    &--box {
      list-style: none;
      display: grid;
      row-gap: 30px;
      margin: 0;
      padding: 20px;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 500;
      color: $textColor;
      letter-spacing: .5px;
      span {
        font-size: 14px;
        color: #a5a5a5;
        @include Japanese-font;
      }
    }
    &--social {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #c5cae9;
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin: 1rem .5rem;
        font-size: 2rem;
        color: #fff;
        border-radius: 50%;
        text-decoration: none;
        transition: .25s linear;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

footer {
  h5 {
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 3;
  }
}