@media screen and (max-width: 369px) {
  .nav {
    h1 {
      font-size: 25px;
    }
  }

  .opening {
    &__text {
      font-size: 23px;
    }
  }

  .title {
    &__text {
      h2 {
        font-size: 25px;
      }
    }
  }
}

// -----sm(Small)-----
@media screen and (min-width: 576px) {
  .title {
    align-items: center;
    &__text {
      bottom: auto;
      h4 {
        margin: 15px 0 0 0;
      }
    }
  }

  // .service, .works {
  //   padding: 50px;
  // }

  .works {
    &__item {
    grid-template-columns: auto auto;
    }
  }

  .profile {
    &__introduction {
      grid-template-columns: 55% 1fr;
      grid-column-gap: 10px;
      align-items: center;
      img {
        grid-column: 1 / 2;
        border-radius: 50%;
        margin-bottom: 30px;
      }
      h1 {
        grid-column: 2 / 3;
        span {
          display: block;
          padding: 5px 0 0 0;
        }
      }
      p {
        grid-column: 1 / 3;
      }
    }
    &__item {
        &--box {
        li {
          display: grid;
          grid-template-columns: 180px auto;
        }
      }
    }
  }
}

// // -----md(Medium)-----
@media screen and (min-width: 768px) {
  .nav {
    li {
      padding: 0 70px 0 0;
      &:nth-child(3) {
        padding: 0 30px 0 0;
      }
    }
  }

  .title {
    &__photo {
      height: 700px;
    }
    &__text {
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }

  .service, .works {
    padding: 50px;
  }

  .service {
    &__message {
      text-align: center;
    }
    &__icon {
      grid-template-columns: auto auto auto auto auto;
      column-gap: 20px;
      &--wrap {
        &--text {
          width: 100%;
          text-align: left;
        }
      }
      &--plus {
        margin-top: 90px;
      }
    }
  }

  .works {
    &__message {
      text-align: center;
    }
    &__item {
      grid-template-columns: auto auto auto;
    }
  }

  .profile {
    &__introduction {
      grid-template-columns: 40% 1fr;
      grid-template-rows: auto 25px auto;
      grid-column-gap: 30px;
      img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }
      h1 {
        grid-column: 2 / 3;
        align-self: end;
        span {
          display: inline;
          padding-left: 10px;
        }
      }
      hr {
        grid-column: 2 / 3;
      }
      p {
        align-self: start;
        grid-column: 2 / 3;
      }
    }
    &__item {
      &--box {
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
        align-items: baseline;
        li {
          grid-template-columns: 1fr;
        }
        li:nth-child(3) {
          order: 2;
          grid-row: 1 / 8;
          grid-column: 2 / 3;
        }
      }
      &--contact {
        display: grid;
        grid-template-columns: auto 280px;
        align-items: center;
        &-message {
          margin: 0;
        }
      }
    }
  }
}

// -----lg(Large)-----
@media screen and (min-width: 992px) {
  // .service, .works {
  //   padding: 50px;
  // }

  .profile {
    &__introduction {
      grid-template-columns: 28% 1fr;
    }
    &__item {
      &--contact {
        &-message {
          text-align: left;
          line-height: 1.9;
          font-size: 1.6rem;
          font-weight: 800;
          color: $textColor;
          letter-spacing: .05rem;
          @include Japanese-font;
        }
        &-box {
          text-align: center;
          &-arrow {
            display: inline-block;
            margin-right: -.3rem;
            width: 1.5rem;
            height: 1.5rem;
            border-top: solid .3rem #e8676b;
            border-right: solid .3rem #e8676b;
            transform: rotate(45deg);
            animation: slide 1s linear infinite;
            @keyframes slide {
              0% {
                transform: rotate(45deg) translate(0, 0);
              }
              20% {
                transform: rotate(45deg) translate(-1rem, 1rem);
              }
              40% {
                transform: rotate(45deg) translate(0, 0);
              }
            }
          }
          &-button {
            display: inline-block;
            margin-left: 1.5rem;
            width: 15rem;
            height: 4rem;
            padding: 0;
            border: none;
            background: #e8676b;
            border-radius: 3%;
            cursor: pointer;
            overflow: hidden;
            &:hover {
              .profile__item--contact-box-button--effect {
                margin-left: 30rem;
              }
            }
            &--text {
              display: inline;
              margin: 0;
              color: #fff;
              font-size: 1.6rem;
              font-weight: 800;
              letter-spacing: .1rem;
            }
            &--effect {
              margin: 0;
              background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
              width: 15rem;
              height: 4rem;
              margin-top: -4rem;
              transform: rotate(400deg);
              margin-left: -30rem;
              opacity: 0.3;
              transition: 1s;
            }
          }
        }
      }
    }
  }
}

// -----xl(Extra Large)-----
@media screen and (min-width: 1200px) {
  html, body {
    font-size: 80%;
  }

  .back-to-top {
    right: 40px;
    bottom: 40px;
  }

  .opening {
    &__text::after {
      width: 350px;
      height: 50px;
    }
  }

  .title {
    &__photo {
      background-position: right 25% bottom 30%;
    }
  }
  
  .service, .works {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .works {
    &__item {
      grid-template-columns: auto auto auto auto;
    }
  }

  .profile {
    &__item {
      &--contact {
        grid-template-columns: auto 400px;
      }
    }
  }
}