{% extends "admin/base.html" %}
<!-- TODO: title tag -->
{% block title %}
{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | 管理画面
{% endblock %}
<!-- //TODO: title tag -->

<!-- TODO: style -->
{% block extrastyle %}
<style type="text/css">
  #header {
    background: #008C56;
  }

  .module caption,
  .inline-group h2 {
    background: #008C56;
  }

  div.breadcrumbs {
    color: #141414;
    background: #e8eaf6;
  }

  div.breadcrumbs a {
    color: #E02855;
    text-decoration: underline;
  }

  div.breadcrumbs a:hover {
    color: #E02855;
    opacity: .65;
  }

  th,
  td {
    white-space: nowrap;
  }

  #branding h1,
  #branding h1 a:link,
  #branding h1 a:visited {
    color: #fff;
  }

  .app-sites.module,
  .app-auth.module {
    display: none;
  }
</style>
{% endblock %}
<!-- //TODO: style -->

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
{% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}