.contact {
  @include section;
  animation: slideBottomIn .4s ease-out forwards;
  @keyframes slideBottomIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h2 {
    @include section__title;
  }
  hr {
    @include section__border;
  }
  &__message {
    @include section__message;
  }
}