@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
$textColor: #3D4451;
@mixin Japanese-font {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}
@mixin section {
  width: 85%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
} 

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  background: #efefef;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e1e1e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9997;
  animation: byeshutter 4.6s forwards;
  @keyframes byeshutter {
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -1;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 0;
    height: 1px;
    animation: shutterOpen 4.6s forwards;
    @keyframes shutterOpen {
      0% {
        width: 0;
        height: 1px;
      }
      50% {
        width: 100%;
        height: 1px;
      }
      90% {
        width: 100%;
        height: 100%;
      }
      100% {
        width: 100%;
        height: 100%;
      }
    }
  }
  .opening-text {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 2.6rem;
    color: white;
    height: 1em;
    line-height: 1.2;
    top: 0;
    left: 0;
    bottom: 7%;
    right: 0;
    margin: auto;
    z-index: 9998;
    &::after {
      content: '';
      width: 270px;
      height: 40px;
      background: #1e1e1e;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index:9999;
      animation: textAnime1 2s linear forwards;
      @keyframes textAnime1 {
        0% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 0;
          transform: translateX(100%);
        }
      }
    }
  }
}

.navbar {
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  z-index: 4;
  .nav {
    position: relative;
    h1 {
      margin: 0;
      padding: 0;
      font-family: 'Archivo Black', sans-serif;
      font-size: 2.5rem;
      color: #1A237E;
      letter-spacing: .08rem;
    }
    .navbar-toggler {
      #bar-open {
        position: absolute;
        right: 0;
        top: .2rem;
        font-size: 2.5rem;
        color: $textColor;
        border-color: rgba(0, 0, 0, 0);
        visibility: visible;
      }
      #bar-close {
        position: absolute;
        margin-top: -2.5rem;
        right: 0;
        font-size: 4rem;
        color: #e8676b;
        visibility: hidden;
      }
      &:hover {
        color: #EEEEEE;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav-link {
    position: relative;
    display: inline-block;
    padding: 0 !important;
    color: $textColor;
    font-size: 1.6rem;
    &.home {
      color: #EEEEEE;
      pointer-events: none;
    }
    &:hover {
      color: #e8676b;
    }
    &::after {
      position: absolute;
      bottom: -30px;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #e8676b;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    &:hover::after {
      bottom: -5px;
      opacity: 1;
    }
  }
}

.title {
  position: relative;
  .title-mask {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 21, 54, 1);
    .title-picture {
      z-index: 1;
      .title-picture img {
        max-width: 100%;
      }
      .responsive-image {
        width: 100%;
        height: auto;
        opacity: .4;
      }
    }
  }
  .title-text {
    z-index: 3;
    opacity: 0;
    transition: 1s all ease-out;
    @include Japanese-font;
    h2 {
      font-weight: 700;
    }
    h3 {
      font-weight: 500;
      line-height: 1.9;
      letter-spacing: .05rem;
      .title-message {
        font-size: 1.2rem;
        line-height: 3.5;
      }
    }
  }
}

#service {
  @include section;
  padding-bottom: 3rem;
  h3 {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 2.4rem;
    color: $textColor;
    @include Japanese-font;
  }
  p.en-sub {
    margin: 0;
  letter-spacing: .15rem;
  line-height: 1;
  font-size: 1.4rem;
  font-family:'Lato', sans-serif;
  font-weight: 400;
  color: #a5a5a5;
  }
  .fa-compass,
  .fa-paint-brush,
  .fa-code,
  .fa-image {
    font-size: 7.1rem;
    margin-top: 2.5rem;
    margin-right: 0;
    margin-bottom: 2.5rem;
    margin-left: 0;
  }
  .fa-code {
    margin-right: 1rem;
  }
  .fa-plus {
    font-size: 3rem;
    margin: 1rem 0;
    padding: 3rem 0;
  }
  .service-text {
    margin: 0;
    line-height: 1.9;
    font-size: 1.4rem;
    font-weight: 500;
    color: $textColor;
    letter-spacing: .05rem;
    @include Japanese-font;
  }
}

#works {
  @include section;
  .works-column {
    display: grid;
    gap: 3rem;
    padding: 0;
    padding-bottom: 3rem;
    .card-box {
      position: relative;
      .card-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-in-out;
        .card-caption {
          position: absolute;
          z-index: 2;
          width: 40%;
          padding-top: .5rem;
          padding-right: 2rem;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 600;
          @include Japanese-font;
          color: white;
          letter-spacing: .05rem;
          opacity: 0;
          transition: all .4s ease-in-out;
        }
        .card-caption-back {
          position: absolute;
          left: 0;
          width: 0;
          border-left: 0;
          border-top: solid 3rem #E8676B;
          border-right: solid 2rem transparent;
          border-bottom: 0;
          opacity: 0;
          transition: all .4s ease-in-out;
        }
        .card-title {
          position: absolute;
          width: 100%;
          bottom: 0;
          margin: 0;
          padding: 1rem;
          background: #E8676B;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 600;
          @include Japanese-font;
          color: white;
          letter-spacing: .05rem;
          opacity: 0;
          transform: translateY(30px);
          transition: all .4s ease-in-out;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.7);
          .card-title {
            opacity: 1;
            transform: translateY(0);
          }
          .card-caption, .card-caption-back {
            opacity: 1;
            width: 40%;
          }
        }
      }
    }
  }
}

.section-title {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 100;
  color: $textColor;
  letter-spacing: .12rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all ease-out;
}
hr.section {
  border-top: 1px solid #b4b4b4;
  width: 70%;
  margin-top: .3rem;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all ease-out;
}
.lead {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 1.9;
  font-size: 1.4rem;
  font-weight: 500;
  color: $textColor;
  @include Japanese-font;
  letter-spacing: .05rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all ease-out;
}

#footer {
  padding: 3rem;
  background-color: #283593;
  .mypicture {
    border-radius: 5%;
  }
  .myname {
    padding-top: 1.5rem;
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    span {
      padding-left: 1rem;
      font-size: 1.4rem;
      font-weight: 800;
      letter-spacing: .1rem;
    }
  }
  hr {
    border-top: 1px solid white;
    margin-top: .8rem;
  }
  .comment {
    line-height: 1.9;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    @include Japanese-font;
    letter-spacing: .05rem;
  }
  .social {
    position: relative;
    margin-top: 1rem;
    margin-right: 1.8rem;
    font-size: 3rem;
    color: white;
    &::before {
      position: absolute;
      bottom: -5px;
      content: "";
      display: inline-block;
      width: 0;
      height: 1.5px;
      background-color: #F4FF81;
      transition: 0.3s ease-in-out;
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &:hover::before,
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
  .about-me {
    position: relative;
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
    letter-spacing: .1rem;
    text-decoration: none;
    &::before {
      position: absolute;
      bottom: -5px;
      content: "";
      display: inline-block;
      width: 0;
      height: 1.5px;
      background-color: #F4FF81;
      transition: 0.3s ease-in-out;
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &:hover::before,
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
  .contact {
    position: relative;
    perspective: 100rem;
    // overflow-x: hidden;
    .contact-flip {
      transition: transform .8s;
      transform-style: preserve-3d;
      margin-top: 2rem;
      padding-bottom: 50%;
      .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .button {
        position: absolute;
        width: 150px;
        height: 40px;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background: #e8676b;
        border-radius: 3%; 
        cursor: pointer;
        overflow: hidden;
        &:hover {
          .hover-effect {
            margin-left: 300px;
          }
        }
        .contact-me {
          display: inline;
          margin: 0;
          color: white;
          font-size: 1.6rem;
          font-weight: 800;
          letter-spacing: .1rem;
        }
        .hover-effect {
          margin: 0;
          background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
          width: 150px;
          height: 40px;
          margin-top: -40px;
          transform: rotate(400deg);
          margin-left: -300px;
          opacity: 0.3;
          transition: 1s;
        }
      }
      // .back {
        // transform: rotateX(180deg);
      // }
      // &.flipped {
      //   transform: rotateX(180deg);
      // }
      .close {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        font-weight: 200;
        font-size: 6rem;
        color: red;
        padding-top: 1rem;
        padding-right: 1.5rem;
        margin-top: -2rem;
        cursor: pointer;
      }
      form {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        .contact-form {
          height: 100%;
        }
        p {
          font-size: 2.5rem;
          color: $textColor;
          letter-spacing: .2rem;
          height: 15%;
          margin-bottom: 1rem;
          padding-top: 1.5rem; 
        }
        .contact-form-name, .contact-form-email {
          height: 10%;
          &::after {
            display: block;
            width: 100%;
            height: .4rem;
            content: '';
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: $textColor;
          }
        }
        .contact-form-message {
          height: 32%;
        }
        .contact-form-name, .contact-form-email, .contact-form-message {
          position: relative;
          padding: 0 2rem;
          margin-bottom: 1.8rem;
          .text, .email, textarea {
            font-size: 1.6rem;
            padding: .3rem;
            padding-left: 4rem;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            &:focus {
              outline: none;
            }
          }
          .fa-user, .fa-envelope, .fa-edit {
            position: absolute;
            padding: .3rem;
            padding-left: 2.8rem;
            top: 0;
            left: 0;
            color: #aaa;
            font-size: 2.5rem;
          }
        }
        .submit {
          position: absolute;
          padding: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 12%;
          background: linear-gradient(to right, #FFEBEE 0%, #EF9A9A 100%);
          cursor: pointer;
          .fa-shipping-fast {
            padding-right: .5rem;
            font-size: 3rem;
            color: #aaa;
          }
          .submit-item {
            margin: 0;
            padding: 0;
            height: 100%;
            font-size: 3rem;
            font-style: italic;
            opacity: 0.4;
          }
        }
      }
    }
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// -----xs(Extra Small)-----
// @media screen and (max-width: 575px) {
// }

// -----sm(Small)-----
@media screen and (min-width: 576px) {
  .works-column {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .title-text {
    text-align: center;
    color: #3D4451;
    background-color: #E8EAF6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    h2 {
      padding-top: 1.5rem;
      font-size: 2.8rem;
    }
    h3 {
      font-size: 1.4rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}

// // -----md(Medium)-----
@media screen and (min-width: 768px) {
  .nav-item.right {
    padding-right: 4rem !important;
  }
  .title-text {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    h2 {
      font-size: 3.2rem;
      margin-left: 1.5rem;
    }
    h3 {
      font-size: 1.6rem;
      margin-left: 2rem;
    }
  }
  .service-text {
    text-align: left;
  }
  .contact {
    padding-top: 2rem;
  }
  .works-column {
    grid-template-columns: auto auto auto;
  }
}

// -----lg(Large)-----
@media screen and (min-width: 992px) {
  .works-column {
    grid-template-columns: auto auto auto auto;
  }
}

// -----xl(Extra Large)-----
@media screen and (min-width: 1200px) {
  html, body {
    font-size: 80%;
  }
  .opening-text::after {
    width: 350px !important;
    height: 50px !important;
  }
}