@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$textColor: #3D4451;
@mixin Japanese-font {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  background: #efefef;
}

.navbar {
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 4;
  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    &:focus {
      outline: none;
    }
  }
  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }
}

header nav ul li a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #09f059;
}

header nav ul li a::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #09f059;
  opacity: 0;
  transition: .3s ease-in-out;
}

header nav ul li a:hover::after {
  bottom: -5px;
  opacity: 1;
}

.title {
  position: relative;
  .title-mask {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 21, 54, 1);
  }
  .title-mask-content {
    z-index: 3;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
  }
  .title-picture {
    z-index: 1;
    .title-picture img {
      max-width: 100%;
    }
    .responsive-image {
      width: 100%;
      height: auto;
      opacity: .4;
    }
  }
}

hr.section {
  border-top: 1px solid #b4b4b4;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.container-fluid.section {
  width: 85%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  .section-title {
    margin-bottom: 1rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    color: #333;
    letter-spacing: .05em;
    // opacity: 0;
    // transform: translate(0, 30px);
    // transition: 1.5s all ease-out;
    // .active {
    //   opacity: 1;
    //   transform: translate(0, 0);
    // }
  }
  .lead {
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 1.9;
    font-size: 1.4rem;
    font-weight: 500;
    color: $textColor;
    @include Japanese-font;
    letter-spacing: .03em;
    // opacity: 0;
    // transform: translate(0, 30px);
    // transition: 1.5s all ease-out;
  }
  h3 {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 2.5rem;
    color: $textColor;
    @include Japanese-font;
  }
  p.en-sub {
  margin: 0;
  letter-spacing: .1em;
  line-height: 1;
  font-size: 1.4rem;
  font-family:'Lato', sans-serif;
  font-weight: 400;
  color: #a5a5a5;
  }
  .fa-compass,
  .fa-paint-brush,
  .fa-code,
  .fa-image {
    font-size: 8rem;
    margin: 2rem;
  }
  .fa-plus {
    font-size: 3rem;
    margin: 1rem 0;
    padding: 3rem 0;
  }
  p.text-left {
    margin: 0;
    line-height: 1.9;
    font-size: 1.4rem;
    color: $textColor;
    @include Japanese-font;
  }
}

// .section1 {
//   opacity: 0;
//   transform: translate(-100px, 0);
//   transition: 1.5s all ease-out;
// }

// .section2 {
//   opacity: 0;
//   transform: translate(0, 100px);
//   transition: 1.5s all ease-out;
// }

// .section3 {
//   opacity: 0;
//   transform: translate(100px, 0);
//   transition: 1.5s all ease-out;
// }

.works-column {
  padding-bottom: 3rem;
}

footer {
  width: 100%;
  height: 350px;
  bottom: 0;
  background-color: rgb(16, 21, 54);
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 88%;
}

.icon {
  position: relative;
  width: 25%;
  height: 100%;
}

.icon img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.info {
  margin-top: 20px;
  text-align: left;
  width: 30%;
  margin-left: -3%;
}

.info > .myname {
  margin: 0;
  vertical-align: bottom;
  color: white;
  font-family: 'Noto Serif JP' , sans-serif;
  font-size: 22px;
  display: inline-block;
}

.info > .comment {
  margin: 0;
  padding: 10px 0 40px;
  color: white;
  font-family: 'Noto Serif JP' , sans-serif;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 15px;
  display: inline-block;
}

.info > a {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

.info > a::before {
  position: absolute;
  bottom: -5px;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.info > a::before {
  left: 50%;
}

.info > a::after {
  right: 50%;
}

.info > a:hover::before,
.info > a:hover::after {
  left: 0;
  width: 100%;
}

form {
  width: 45%;
}

form:hover .contact {
  transform: rotateX(-180deg);
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-duration: .6s;
}

.contact-front img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 80%;
  backface-visibility: hidden;
  background-size: cover;
}

.contact-front p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 8px 50px 10px;
  border: solid 1px;
  font-size: 25px;
  color:  rgb(16, 21, 54);
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
}

.contact-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(180deg);
  width: 92%;
  height: 80%;
  background:white;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  vertical-align: top;
}

.namemail {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.name {
  width: 30%;
  margin-top: 3%;
}

.mail {
  width: 60%;
  margin-top: 3%;
}

.message {
  width: 90%;
  height: 42%;
  margin: 0 auto;
}

.name,
.mail,
.message {
  position: relative;
}

.name input,
.mail input,
.message textarea {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 40px;
  border: 0;
  background:white;
  font-family: 'Noto Serif JP' , sans-serif;
}

.message textarea {
  height: 100%;
}

.name input:focus,
.mail input:focus,
.message textarea:focus {
  outline: none;
}

.name i,
.mail i,
.message i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}

.name::after,
.mail::after,
.message::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: '';
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(16, 21, 54);
}

.submit {
  margin: 0 auto;
  margin-bottom: 3%;
}

.submit input {
  font-family: 'Noto Serif JP' , sans-serif;
  color: white;
  background: rgb(16, 21, 54);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: solid 2px rgb(11, 16, 49);
}

.copylight {
  position: relative;
  width: 100%;
  height: 42px;
  bottom: 0;
}

.border {
  position: relative;
  border-top: solid 1.5px  white;
  width: 98%;
  margin: 0 auto;
}

.copylight p {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  line-height: 100%;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  font-family:  Georgia,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;
}

// -----XS(Extra Small)-----
@media screen and (max-width: 543px) {
  
}
// -----sm(Small)-----
@media screen and (max-width: 767px) {

}
// -----md(Medium)-----
@media screen and (max-width: 991px) {

}
// -----lg(Large)-----
@media screen and (max-width: 1199px) {

}
// -----xl(Extra Large)-----
@media screen and (min-width: 1200px) {

}