@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  background: #efefef;
}

.navbar {
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 4;
}

.navbar h1 {
  margin: 0;
  padding: 1rem 0;
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
  color: #1A237E;
  letter-spacing: .1rem;
}

.navbar .navbar-toggler {
  font-size: 2.5rem;
  color: #3D4451;
  border-color: rgba(0, 0, 0, 0);
}

.navbar .navbar-toggler:hover {
  color: #E8EAF6;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar .nav-link {
  display: inline-block;
  color: #3D4451;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 0;
  font-size: 1.6rem;
}

.navbar .nav-link.home {
  color: #E8EAF6;
  pointer-events: none;
}

header nav ul li a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #09f059;
}

header nav ul li a::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #09f059;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header nav ul li a:hover::after {
  bottom: -5px;
  opacity: 1;
}

.title {
  position: relative;
}

.title .title-mask {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #101536;
}

.title .title-mask-content {
  z-index: 3;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
}

.title .title-picture {
  z-index: 1;
}

.title .title-picture .title-picture img {
  max-width: 100%;
}

.title .title-picture .responsive-image {
  width: 100%;
  height: auto;
  opacity: .4;
}

hr.section {
  border-top: 1px solid #b4b4b4;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.container-fluid.section {
  width: 85%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.container-fluid.section .section-title {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 100;
  color: #3D4451;
  letter-spacing: .05em;
}

.container-fluid.section .lead {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 1.9;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3D4451;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  letter-spacing: .03em;
}

.container-fluid.section h3 {
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 2.5rem;
  color: #3D4451;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

.container-fluid.section p.en-sub {
  margin: 0;
  letter-spacing: .1em;
  line-height: 1;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #a5a5a5;
}

.container-fluid.section .fa-compass,
.container-fluid.section .fa-paint-brush,
.container-fluid.section .fa-code,
.container-fluid.section .fa-image {
  font-size: 8rem;
  margin: 2rem;
}

.container-fluid.section .fa-plus {
  font-size: 3rem;
  margin: 1rem 0;
  padding: 3rem 0;
}

.container-fluid.section p.text-left {
  margin: 0;
  line-height: 1.9;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3D4451;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

.works-column {
  padding-bottom: 3rem;
}

.footer {
  padding-top: 2rem;
  background-color: #283593;
}

.footer .myname {
  color: white;
  font-size: 4.5rem;
}

.footer .myname span {
  font-size: 2rem;
  padding-left: 2rem;
}

.footer hr {
  border-top: 1px solid white;
  margin-top: .3rem;
}

.footer .comment {
  line-height: 1.9;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

.footer .fa-twitter,
.footer .fa-facebook,
.footer .fa-github {
  padding-top: 2rem;
  padding-right: 3rem;
  font-size: 4rem;
  color: white;
}

.footer .about-me {
  font-size: 2rem;
  color: white;
  letter-spacing: .1rem;
  text-decoration: none;
}

.footer .contact {
  position: relative;
  padding: 3rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  overflow-x: hidden;
}

.footer .contact .contact-flip {
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-bottom: 50%;
}

.footer .contact .contact-flip .front, .footer .contact .contact-flip .back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer .contact .contact-flip .back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.footer .contact .contact-flip .contact-me {
  display: block;
  position: absolute;
  margin: 0;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid 1px #e8676b;
  color: #e8676b;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  cursor: pointer;
}

.footer .contact .contact-flip .contact-me:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.footer .contact .contact-flip.flipped {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.footer .contact .contact-flip .close {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  font-weight: 200;
  font-size: 6rem;
  color: red;
  padding-top: 1rem;
  padding-right: 1.5rem;
  margin-top: -2rem;
  cursor: pointer;
}

.footer .contact .contact-flip form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.footer .contact .contact-flip form .contact-form {
  height: 100%;
}

.footer .contact .contact-flip form p {
  font-size: 2.5rem;
  color: #3D4451;
  letter-spacing: .2rem;
  height: 15%;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.footer .contact .contact-flip form .contact-form-name, .footer .contact .contact-flip form .contact-form-email {
  height: 10%;
}

.footer .contact .contact-flip form .contact-form-name::after, .footer .contact .contact-flip form .contact-form-email::after {
  display: block;
  width: 100%;
  height: .4rem;
  content: '';
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #3D4451;
}

.footer .contact .contact-flip form .contact-form-message {
  height: 32%;
}

.footer .contact .contact-flip form .contact-form-name, .footer .contact .contact-flip form .contact-form-email, .footer .contact .contact-flip form .contact-form-message {
  position: relative;
  padding: 0 2rem;
  margin-bottom: 1.8rem;
}

.footer .contact .contact-flip form .contact-form-name .text, .footer .contact .contact-flip form .contact-form-name .email, .footer .contact .contact-flip form .contact-form-name textarea, .footer .contact .contact-flip form .contact-form-email .text, .footer .contact .contact-flip form .contact-form-email .email, .footer .contact .contact-flip form .contact-form-email textarea, .footer .contact .contact-flip form .contact-form-message .text, .footer .contact .contact-flip form .contact-form-message .email, .footer .contact .contact-flip form .contact-form-message textarea {
  font-size: 1.6rem;
  padding: .3rem;
  padding-left: 4rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.footer .contact .contact-flip form .contact-form-name .text:focus, .footer .contact .contact-flip form .contact-form-name .email:focus, .footer .contact .contact-flip form .contact-form-name textarea:focus, .footer .contact .contact-flip form .contact-form-email .text:focus, .footer .contact .contact-flip form .contact-form-email .email:focus, .footer .contact .contact-flip form .contact-form-email textarea:focus, .footer .contact .contact-flip form .contact-form-message .text:focus, .footer .contact .contact-flip form .contact-form-message .email:focus, .footer .contact .contact-flip form .contact-form-message textarea:focus {
  outline: none;
}

.footer .contact .contact-flip form .contact-form-name .fa-user, .footer .contact .contact-flip form .contact-form-name .fa-envelope, .footer .contact .contact-flip form .contact-form-name .fa-edit, .footer .contact .contact-flip form .contact-form-email .fa-user, .footer .contact .contact-flip form .contact-form-email .fa-envelope, .footer .contact .contact-flip form .contact-form-email .fa-edit, .footer .contact .contact-flip form .contact-form-message .fa-user, .footer .contact .contact-flip form .contact-form-message .fa-envelope, .footer .contact .contact-flip form .contact-form-message .fa-edit {
  position: absolute;
  padding: .3rem;
  padding-left: 2.8rem;
  top: 0;
  left: 0;
  color: #aaa;
  font-size: 2.5rem;
}

.footer .contact .contact-flip form .submit {
  position: absolute;
  padding: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  background: -webkit-gradient(linear, left top, right top, from(#FFEBEE), to(#EF9A9A));
  background: linear-gradient(to right, #FFEBEE 0%, #EF9A9A 100%);
  cursor: pointer;
}

.footer .contact .contact-flip form .submit .fa-shipping-fast {
  padding-right: .5rem;
  font-size: 3rem;
  color: #aaa;
}

.footer .contact .contact-flip form .submit .submit-item {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 3rem;
  font-style: italic;
  opacity: 0.4;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .contact {
    padding-top: 2rem;
  }
}
