{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>活動日記録アプリ｜中之条ビエンナーレ実行委員会</title>
  <meta name="description" content="中之条ビエンナーレ実行委員の活動日を記録するためのアプリです。">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:site_name" content="活動日記録アプリ｜中之条ビエンナーレ実行委員会">
  <meta property="og:title" content="活動日記録アプリ｜中之条ビエンナーレ実行委員会">
  <meta property="og:description" content="中之条ビエンナーレ実行委員の活動日を記録するためのアプリです。">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tomizawajun.com/nakanojo/">
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/1256089499290832898/cthdlvb3_400x400.png">
  <link rel="icon" href="https://pbs.twimg.com/profile_images/1256089499290832898/cthdlvb3_400x400.png">
  <link rel="apple-touch-icon" href="https://pbs.twimg.com/profile_images/1256089499290832898/cthdlvb3_400x400.png" sizes="180x180">
  <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/1256089499290832898/cthdlvb3_400x400.png" sizes="192x192">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
  <link rel="stylesheet" href="{% static 'css/style_nakanojo.min.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>

{% block body %} {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extrajs %} {% endblock %}
</body>
</html>