.footer {
  padding: 3rem;
  background: #283593;
  @include slide--from-bottom;
  &__photo {
    border-radius: 5%;
    text-align: center;
  }
  &__name {
    padding-top: 1.5rem;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    span {
      padding-left: 1rem;
      font-size: 1.4rem;
      font-weight: 800;
      letter-spacing: .1rem;
    }
  }
  hr {
    border-top: 1px solid white;
    margin-top: .8rem;
  }
  &__comment {
    line-height: 1.9;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    @include Japanese-font;
    letter-spacing: .05rem;
  }
  &__item {
    background: #fff;
    &--profile-list {
      list-style: none;
      display: grid;
      justify-content: center;
      gap: 2rem;
      margin: 0;
      padding: 2rem;
      line-height: 1.4;
      font-size: 1.4rem;
      font-weight: 500;
      color: $textColor;
      letter-spacing: .05rem;
      @include Japanese-font;
      span {
        font-size: 1.6rem;
        color: #9da0a7;
      }
      // li {
      //   display: grid;
      //   grid-template-columns: 40% 1fr;
      // }
    }
    hr {
      width: 90%;
      border-top: 1px solid #b4b4b4;
      margin-top: .8rem;
    }
    p {
      width: 90%;
      margin: 2rem auto;
      line-height: 1.9;
      font-size: 1.4rem;
      font-weight: 500;
      color: $textColor;
      letter-spacing: .05rem;
      @include Japanese-font;
    }
    &--social {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #e8676b;
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin: 1rem .5rem;
        font-size: 2rem;
        color: #fff;
        border-radius: 50%;
        text-decoration: none;
        transition: .25s linear;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}