.profile {
  padding: 3rem;
  background: #283593;
  @include slide--from-bottom;
  &__introduction {
    display: grid;
    padding: 0 1.5rem 1.5rem;
    img {
      border-radius: 5%;
      margin-bottom: 1.5rem;
    }
    h1 {
      margin: 0;
      text-align: center;
      color: #fff;
      font-size: 3.5rem;
      letter-spacing: .1rem;
      span {
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: 800;
      }
    }
    hr {
      border-top: 1px solid #fff;
      width: 100%;
    }
    p {
      line-height: 1.9;
      font-size: 1.6rem;
      font-weight: 500;
      color: #fff;
      @include Japanese-font;
      letter-spacing: .05rem;
    }
  }
  &__item {
    background: #fff;
    &--box {
      list-style: none;
      display: grid;
      gap: 3rem;
      margin: 0;
      padding: 2rem;
      line-height: 1.4;
      font-size: 1.4rem;
      font-weight: 500;
      color: $textColor;
      letter-spacing: .05rem;
      @include Japanese-font;
      span {
        font-size: 1.6rem;
        color: #9da0a7;
        a {
          color: #9da0a7;
        }
      }
    }
    hr {
      border-top: 1px solid #b4b4b4;
      margin: 0 20px;
    }
    &--message {
      margin: 20px 20px 0;
      text-align: center;
      line-height: 1.9;
      font-size: 14px;
      font-weight: 500;
      color: $textColor;
      letter-spacing: .5px;
      @include Japanese-font;
    }
    &--contact {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 30px;
      &-arrow {
        display: block;
        margin-right: -3px;
        width: 15px;
        height: 15px;
        border-top: solid 3px #e8676b;
        border-right: solid 3px #e8676b;
        transform: rotate(45deg);
        animation: slide 1s linear infinite;
        @keyframes slide {
          0% {
            transform: rotate(45deg) translate(0, 0);
          }
          20% {
            transform: rotate(45deg) translate(-10px, 10px);
          }
          40% {
            transform: rotate(45deg) translate(0, 0);
          }
        }
      }
      &-box {
        display: block;
        margin-left: 15px;
        width: 150px;
        height: 40px;
        padding: 0;
        border: none;
        background: #e8676b;
        border-radius: 3%;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          .profile__item--contact-box-effect {
            margin-left: 300px;
          }
        }
        &-text {
          display: inline;
          margin: 0;
          color: #fff;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: 1px;
        }
        &-effect {
          margin: 0;
          background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
          width: 150px;
          height: 40px;
          margin-top: -40px;
          transform: rotate(400deg);
          margin-left: -300px;
          opacity: 0.3;
          transition: 1s;
        }
      }
    }
    &--social {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #e8676b;
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin: 1rem .5rem;
        font-size: 2rem;
        color: #fff;
        border-radius: 50%;
        text-decoration: none;
        transition: .25s linear;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

footer {
  h5 {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3;
  }
}