@media screen and (max-width: 369px) {
  .title__text {
    h2 {
      font-size: 2.5rem;
    }
  }
}

// -----sm(Small)-----
@media screen and (min-width: 576px) {
  .title__text {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .works__item {
    grid-template-columns: auto auto;
  }
  .profile__item--box {
    li {
      display: grid;
      grid-template-columns: 40% 1fr;
    }
  }
}

// // -----md(Medium)-----
@media screen and (min-width: 768px) {
  .nav li:nth-child(-n+4) {
    padding-right: 4rem;
  }
  .title__photo {
    height: 700px;
  }
  .title__text {
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 1.6rem;
    }
  }
  .service__text {
    text-align: left;
  }
  .works__item {
    grid-template-columns: auto auto auto;
  }
  .contact {
    padding-top: 2rem;
  }
}

// -----lg(Large)-----
@media screen and (min-width: 992px) {
  .works__item {
    grid-template-columns: auto auto auto auto;
  }
}

// -----xl(Extra Large)-----
@media screen and (min-width: 1200px) {
  html, body {
    font-size: 80%;
  }
  .back-to-top {
    right: 40px;
    bottom: 40px;
  }
  .opening__text::after {
    width: 350px;
    height: 50px;
  }
  .title__photo {
    background-position: right 25% bottom 30%;
  }
}